{% extends "edu/base.html" %}
{% comment %}
	Formulario para creación/edición de notas para rúbricas
{% endcomment %}

{% block page_title %}
	Área de competencia
{% endblock page_title %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			Indicador:
			{{indicador}}
			<form method="post" action="{{action}}">

			<table class="table">
				{% csrf_token %}
				{{ nota_form.as_table }}
				{{ nota_form.management_form}}
				<input type="submit" name="indicador-submit" value="Guardar">
				</table>
			</form>
		</div>
	</div>
</div>
{% endblock content %}